$highlight-text-underline: #ffd827;
$highlight: #ffbab2;
$highlight-dark: #f96c53;
$primary: #02a19d;
$dark-primary: #007b78;
$grey: #faf8fc;
$black: #413e3f;
$white: #fff;

$primary-font: 'Lato', sans-serif;
$highlight-font: 'Raleway', sans-serif;
$light-font: 200;
$regular-font: 400;
$bold-font: 600;
$small-font: 12px;
$default-font: 18px;
$medium-font: 24px;
$large-font: 40px;

$basic-transition: all 0.2s linear;

$breakpoint-mobile: 500px;
